{% extends 'base.html' %}

{%block title %}
<title>GlistS</title>
{% endblock %}


{%block content %}
<div class="container">
    <br>
    <h1>About GlistS</h1>
    <br>
    <main role="main">
        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
                <h1>GlistS</h1>
                <p>GlistS is a tech company founded in the year 2020. Created by a Young Tech Entrepreneur <b>Suvadeep Ghoshal</b>. We are a service based company, providing solutions to client who needs various web application. We mainly focus on Web Development. Thanks for reading!</p>
                <p>Visit the creaters Website: <a href="https://suvadeep-portfolio.herokuapp.com/index.html">Suvadeep Ghoshal</a> To learn more</p>
                <p>
                    <a class="btn btn-info"  href="/" role="button">Go to Home
                        &raquo;</a>
                </p>
            </div>
        </div>
    </main>
</div>
{% endblock %}