{%extends "base.html"%}
<!--head-->
{%block title%}<title>GlistS</title>{%endblock%}

{%block content%}
    <br>
    <br>
    <!--welcome screen-->
    <div class="container">
      <main role="main">
          <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
              <h1>GlistS TODO</h1>
              <p>pore likhbo introduction</p>
                <a class="btn btn-primary" href="/signup"
                role="button">Sign Up &raquo;</a>
                <a class="btn btn-primary" href="/login"
                role="button">Log In &raquo;</a>
              </p>
            </div>
        </div>
      </main>
    </div>

{%endblock%}  